	body {

    background-image: url("img/background1.jpg");
}
#container
	{	opacity: 0.85;
		filter: alpha(opacity=85);
		font-family: Arial, Helvetica, sans-serif;
		width: 1380px;
		margin-left: auto;
		margin-right: auto;
		
	}
	#logo
	{	
		border-radius: 25px;
		background-color: LightGreen;
		color: black;
		text-align: center;
		padding: 15px;
	}
	
	#content
	{
		/*word-break: normal;	*/
	
		float: center;
		border-radius: 25px;
		float: center;
		padding: 20px;
		width: 1340px;
		background-color: LightGray;
	}
	#fileview
	{	
		border-radius: 25px;
		float: center;
		padding: 20px;
		width: 1340px;
		background-color: WhiteSmoke;
	}
	
	#content1
	{
		
		border-radius: 25px;
		float: center;
		padding: 20px;
		width: 1340px;
		background-color: WhiteSmoke;
		
	}
	#chart
	{
		border-radius: 25px;
		float: center;
		padding: 20px;
		width: 1340px;
		background-color: WhiteSmoke;
		
	}
	
	table {
    border-collapse: collapse;
    width: 100%;
}

	td.data, td.zapisz, td.zapisz, td.plik {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid Green;
	}
	th.plik {
	text-align: left;
	}
	td.data, th.data {
    text-align: right;
    
	}
	td.zapisz, th.zapisz {
    text-align: center;
	}
	table.nawigacja, tr.nawigacja, td.nawigacja {
	/*border: 1px solid Green;
    border-collapse: collapse;*/
    width: 100%;
}
	table.przyciski, td.przyciski, tr.przyciski {
    border-collapse: collapse;
    width: 50%;
	/*border: 1px solid Green;*/
	text_align: center;
}
	td.upload {
     font-size: 200%;
}

	tr.wiersz:hover {background-color: LightGray;} przyciemnianie wierszy, na które najedziemy myszką*/
	
	
	
